
@font-face {
    font-family: 'Nexon';
    src: url('fonts/NEXON\ Lv2\ Gothic.woff') format('woff');
  }


body {
    display: flex;
    flex-direction: column;
    font-family: Nexon, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;

        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
      
}


.FirstBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 60px;
}

.YearFlex {
    display: flex;
}

.BoxWrap {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
}

.BoxWrap::-webkit-scrollbar {
    display: none;
}

.year {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 80px;
    color: white;
    padding: 0px 220px 0px 360px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    height: auto;
}

.CartImg {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 30px;
}